/******************************************************************************************************
  Imedo Grids
******************************************************************************************************/

.grid .align-right                                             { text-align: right;}
.grid .align-center                                            { text-align: center;}
.grid .align-justify                                           { text-align: justify;}
.grid .golden:after,
.grid .halves:after,
.grid .thirds:after,
.grid .quarters:after                                          {
                                                                         clear: both;
                                                                         content: '.';
                                                                         display: block;
                                                                         height: 0px;
                                                                         visibility: hidden;
                                                                       }

.grid .golden>.col                                             { width: 40%;}
.grid .golden>.col.large                                            { width: 60%;}
.grid .golden>.col,
.grid .golden>.col.large                                            { float: left;}

.grid .halves>.col                                             { width: 50%; float: left;}

.grid .thirds>.col                                             { width: 33%; float: left;}
.grid .thirds>.col.two                                         { width: 66%;}

.grid .quarters>.col                                             { width: 25%; float: left;}
.grid .quarters>.col.two                                         { width: 50%;}
.grid .quarters>.col.three                                       { width: 75%;}
