---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h3 class="post-title">
          <span class="post-date">{{ post.date | date: site.date_format }}</span>
          <span class="post-title-text">{{ post.title }}</span>
        </h3>
      </a>
      <div class="py2 post-categories">
        {% for category in post.categories %}
        <span>{{ category }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
