<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/grid.css" type="text/css" media="screen" charset="utf-8"/>
  <link rel="stylesheet" href="/css/typo.css" type="text/css" media="screen" charset="utf-8"/>
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8"/>
</head>

<body class="grid typo">
  <div class="thirds">
    <div class="col two">
      {{ content }}
      <div id="disqus_thread"><h2>Comments</h2></div>
      <script type="text/javascript" src="http://disqus.com/forums/addywaddy/embed.js"></script>
      <noscript><a href="http://disqus.com/forums/addywaddy/?url=ref">View the discussion thread.</a></noscript>
    </div>
    <div class="col">
      <div id="right-menu">
        <p>
          <a href="/"> addywaddy </a>
        </p>
        <p>This is the blog of Adam Groves.<br/>Oh yes it is.</p>
      </div>
    </div>
  </div>
</body>
</html>

